{% load i18n %}

<!-- Modal-header: Simple title describing purpose of this pane. -->
<div class="modal-header clearfix">
  <h3 class="modal-title">{$ ::context.title $}</h3>
  <p class="modal-colsed" ng-click="action.cancel()">
    <i class="modal-colsed-icon"></i>
  </p>
</div>

<!-- Modal-form: The body of this pane. -->
<form novalidate name="form" ng-submit="submit(form.$valid)">
  <div class="modal-body clearfix">
      <fieldset>
        <div class="form-group clearfix"
          ng-if="context.mode === 'create' || context.mode === 'edit'"
          ng-class="{'has-error':form.name.$invalid && form.name.$dirty}">
          <label for="name">
            *{% trans "Name" %}
          </label>
          <div class="form-group-right">
            <input required
              id="name"
              name="name"
              class="form-control verify-input"
              type="text"
              ng-model="policy.name"
              ng-maxlength="255"/>
            <p class="help-block alert-fixed alert-danger"
              ng-show="form.name.$error.required && form.name.$dirty">
              {% trans "A firewall name is required." %}
            </p>
            <p class="help-block alert-fixed alert-danger"
              ng-show="form.name.$error.maxlength && form.name.$dirty">
              {% trans "Name length should be less than 255 chars." %}
            </p>
          </div>
        </div>

        <div class="form-group clearfix"
          ng-if="context.mode === 'create' || context.mode === 'edit'">
          <label for="description">
            {% trans "Description" %}
          </label>
          <div class="form-group-right">
            <textarea
              id="description"
              name="description"
              class="form-control"
              rows="3"
              ng-model="policy.description">
            </textarea>
          </div>
        </div>

        <div class="form-group clearfix"
          ng-if="context.mode === 'create' || context.mode === 'edit'"
          ng-class="{'has-error':form.policies.$invalid && form.policies.$dirty}">
          <label for="policies">
            *{% trans "L3 Policy" %}
          </label>
          <div class="form-group-right policie-wrap" ng-if="l3PolicySwitch">
            <select id="ip-version" class="form-control" ng-init="policy.l3_policy_id = l3_policy_seleted"
              ng-model="policy.l3_policy_id"
              ng-options="(l3.name + ':' + l3.id) for l3 in l3Policys track by l3.id">
            </select>
          </div>
        </div>

        <div style="margin-top:5px;" class="form-group clearfix"
          ng-if="context.mode === 'create' || context.mode === 'edit'">
          <label></label>
          <div class="form-group-right">
            <input name="inject_default_route" type="checkbox" ng-init="policy.inject_default_route=true" ng-model="policy.inject_default_route"/> Inject Default Route
          </div>
        </div>

      </fieldset>
    </div>

</form>

<!-- Modal-footer: User can submit or cancel form here. -->

<div class="modal-footer">
  <button id="submit-button" class="btn btn-primary" type="button"
    ng-disabled="form.$invalid"
    ng-click="action.submit()">
    {$ ::context.submit $}
  </button>
</div>

