{% load i18n %}
<div class="detail-page">
  <div class="fl detail-left-icon" ng-click="action.cancel()"></div>
  <div class="detail-page-con">
  <tabset id="l3-detail-wrap" justified="true" class="def-tabs">
    <tab id="tab-network-connection" heading="{$ ::title.Detail $}">
      <div class="tab-pane-content">
            <table id="network-detail-list" hz-table ng-cloak
                   st-table="iL2Policys"
                   st-safe-src="L2Policys"
                   default-sort="name"
                   default-sort-reverse="false"
                   disabled="disabled"
                   class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th colspan="100" class="bare table-th-unline">

                        <div class="table_actions clearfix">

                            <action-list class="btn-addon">
                              <action
                                action-classes="'btn btn-primary btn-action'"
                                callback="actions.refresh" item="$table">
                                <i class="icon icon-refresh"></i>
                                <span id="refresh-firewall"></span>
                              </action>
                            </action-list>

                            <action-list class="btn-addon">
                              <action
                                action-classes="'btn btn-primary btn-action'"
                                callback="actions.createL2.open" item="$table">
                                <i class="icon icon-add"></i>
                                <span id="network-create">{$ :: ctrl.create $}</span>
                              </action>
                            </action-list>
                            <action-list class="btn-addon">
                              <action
                                action-classes="'btn btn-action btn-danger'"
                                disabled="numSelected === 0"
                                callback="actions.deleted.batchDelete" item="$table">
                                <i class="icon icon-delete"></i>
                                <span id="network-delete">{$ ctrl.delete $}</span>
                              </action>
                            </action-list>

                            <action-list dropdown>
                              <button id="network-more" type="button" class="btn btn-primary btn-action" dropdown-toggle>
                                <i class="icon icon-more"></i>
                                <span>{% trans "More" %}</span>
                              </button>
                              <menu>
                                  <action
                                      button-type="menu-item"
                                      disabled="disabled"
                                      callback="actions.edit.open" item="$table">
                                      <span id="network-edit">{$ :: ctrl.edit $}</span>
                                  </action>
                              </menu>
                            </action-list>

                        </div>
                    </th>
                </tr>
                <tr eagle-eye="table_heads">
                    <th eagle-eye="select_col">
                        <input type="checkbox" hz-select-page="L2Policys"/>
                    </th>
                    <th st-sort="name" st-sort-default="name" eagle-eye="data_col">
                        Name
                    </th>
                    <th st-sort="Description" eagle-eye="data_col">
                        Description
                    </th>
                    <th st-sort="id" eagle-eye="data_col">
                        ID
                    </th>
                    <th st-sort="l3_policy_id" eagle-eye="data_col">
                        L3 Policy ID
                    </th>
                    <th st-sort="inject_default_route" eagle-eye="data_col">
                        Inject Default Route
                    </th>
                </tr>
                </thead>

                <tbody>
                  <tr ng-if="!detailDataState">
                      <td colspan="100" class="Loading-bar"><img class="load-detail" src="/static/bootstrap/img/loading.gif" alt="" /></td>
                  </tr>
                  <tr ng-if="!L2Policys.length && !detailDataState">
                    <td colspan="100" eagle-eye="empty_table">{% trans "No Data" %}</td>
                  </tr>
                  <tr ng-repeat="list in iL2Policys" ng-class="{'st-selected': checked[list.id]}">
                      <td eagle-eye="select_col">
                          <input type="checkbox"
                              hz-select="list"
                              ng-model="selected[list.id].checked"
                              hz-checkbox-group="L2Policys"/>
                      </td>

                      <td eagle-eye="data_col">{$ list.name $}</td>
                      <td eagle-eye="data_col">{$ list.description $}</td>
                      <td eagle-eye="data_col">{$ list.id $}</td>
                      <td eagle-eye="data_col">{$ list.l3_policy_id $}</td>
                      <td eagle-eye="data_col">{$ list.inject_default_route $}</td>
                  </tr>
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="100" eagle-eye="data_page">
                        <table-footer></table-footer>
                    </td>
                </tr>
                </tfoot>
            </table>
          </div>
    </tab>
  </tabset>
  </div>
</div>
