{% extends 'es_base.html' %}
{% load i18n %}
{% block title %}{% trans "server_groups" %}{% endblock %}

{% block page_header %}
{% include "easystack_dashboard/common/_es_page_header.html" with title=_("server_groups") %}
{% endblock page_header %}

{% block main %}

<hz-magic-search-context filter-facets="filterFacets">
<table id="servergroup-list" hz-table ng-cloak hopes-table-drag
  st-table="iservergroup"
  st-safe-src="servergroups"
  default-sort="ip"
  default-sort-reverse="false"
  st-magic-search
  ng-controller="projectServer_groupsCtrl"
  ng-init="userID = '{{ request.user.id }}'"
  diabled="disabled"
  class="table table-bordered table-hover">

  <!--
    Table-head:
    This is where we add things like filtering and batch actions.
    This is where we add column headers.
  -->
  <thead>

    <!--
      Table-batch-actions:
      This is where batch actions like searching, creating, and deleting.
    -->
    <tr>
       <th colspan="100" class="bare">
       <div class="table_actions clearfix">
          <action-list>
            <action
              action-classes="'btn btn-primary btn-action'"
              callback="actions.refresh">
              <i class="icon icon-refresh"></i>
              <span id="refresh"></span>
            </action>
          </action-list>
          
          <action-list>
	          <action
	            action-classes="'btn btn-primary btn-action'"
	            callback="actions.create.open">
	            <i class="icon icon-add"></i>
	            <span id="create-alarm">{% trans 'Create Server Group' %}</span>
	          </action>
	        </action-list>
	        <action-list>
	          <action
	            action-classes="'btn btn-action btn-danger'"
	            disabled="numSelected === 0"
	            callback="actions.deleted.batchDelete">
	            <i class="icon icon-delete"></i>
	            <span id="delete-alarm">{% trans 'Delete Server Groups' %}</span>
	          </action>
	        </action-list>
          <div class="fr search-bar">
            <hz-magic-search-bar id="search"></hz-magic-search-bar>
          </div>
       </div>
       </th>
    </tr>

    <!--
      Table-column-headers:
      This is where we declaratively define the table column headers.
      Include the select all checkbox if you want to enable select all
      for performing batch actions.
    -->
    <tr eagle-eye="table_heads">
      <th class="select-col" eagle-eye="select_col">
        <input type="checkbox"
          hz-select-page="servergroups"/>
      </th>
      <th eagle-eye="data_col"><span st-sort="name">{$ ::context.header.name $}</span></th>
      <th eagle-eye="data_col"><span st-sort="policies">{$ ::context.header.policies $}</span></th>
      <th eagle-eye="data_col"><span st-sort="members">{$ ::context.header.members $}</span></th>
      <th eagle-eye="data_col"><span st-sort="metadata">{$ ::context.header.metadata $}</span></th>

    </tr>
  </thead>

  <tbody>

    <tr ng-if="!iservergroupState">
      <td colspan="100" class="Loading-bar"><img class="load-detail" src="/static/bootstrap/img/loading.gif"  alt="" /></td>
    </tr>

    <tr ng-if="!iservergroup.length && iservergroupState">
      <td colspan="100" eagle-eye="empty_table">{% trans "No Data" %}</td>
    </tr>

    <tr ng-repeat="servergroup in iservergroup" ng-class="{'st-selected': checked[servergroup.id]}">

      <!--
        Table-row-checkbox:
        User can select and unselect this row by clicking on this checkbox.
        Batch actions can then be perform on selected rows.
      -->
      <td class="select-col" eagle-eye="select_col">
        <input type="checkbox"
          hz-select="servergroup"
          ng-model="selected[servergroup.id].checked"
          hz-checkbox-group="servergroups"/>
      </td>

      <!-- Table-row-info-column -->
      <td eagle-eye="data_col" >
        <a ng-click="actions.createDetail.open(servergroup.id)" href="javascript:;" data-url="/project/server_groups/{$ servergroup.id $}">
            {$ servergroup.name $}
        </a>
      </td>
      <td eagle-eye="data_col">{$ servergroup.policies $}</td>
      <td eagle-eye="data_col">{$ servergroup.members $}</td>
      <td eagle-eye="data_col">{$ servergroup.metadata $}</td>
    </tr>

  </tbody>

  <!--
    Table-footer:
    This is where we display number of items and pagination controls.
    Ensure colspan is greater or equal to number of column-headers.
  -->
  <tfoot ng-if="servergroups.length > 10">
    <tr>
      <td colspan="100" eagle-eye="data_page">
        <table-footer></table-footer>
      </td>
    </tr>
  </tfoot>
</table>
</hz-magic-search-context>

{% endblock %}
