{% load i18n %}

<!-- Modal-header: Simple title describing purpose of this pane. -->
<div class="modal-header clearfix">
    <h3 class="modal-title">{$ label.title $}</h3>
    <p class="modal-colsed" ng-click="action.cancel()">
        <i class="modal-colsed-icon"></i>
    </p>
</div>
<!-- Modal-form: The body of this pane. -->
<form id="createForm" novalidate name="form" ng-submit="submit(form.$valid)">
    <!--<pre style="max-height:400px;overflow-y:scroll;">{$ form|json $}</pre>-->
    <div class="modal-body clearfix">
        <!-- Modal-form-left: Contains the form controls -->
        <div class="left form-wrap">
            <fieldset>
                <div class="form-group clearfix"
                     ng-class="{'has-error':form.nodename.$invalid && form.nodename.$dirty}">
                    <label for="nodename">{$ label.nodename $}</label>
                    <div class="form-group-right">
                        <input required
                               id="nodename"
                               name="nodename"
                               class="form-control verify-input"
                               ng-maxlength="255"
                               ng-model="node.nodename"
                               ng-disabled="true">
                    </div>
                </div>
                <div class="form-group clearfix"
                     ng-class="{'has-error':form.port.$invalid && form.port.$dirty}">
                    <label for="port">{$ label.port $}</label>
                    <div class="form-group-right">
                        <input required
                               id="port"
                               name="port"
                               class="form-control verify-input"
                               ng-maxlength="255"
                               ng-model="node.port"
                               placeholder='{% trans "eg: 1/20 or portchannel:20" %}'
                               ng-disabled="false">
                        <p class="help-block alert-fixed alert-danger"
                           ng-show="form.port.$error.required && form.port.$dirty">
                            {% trans "Please input port" %}
                        </p>
                        <p class="help-block alert-fixed alert-danger"
                           ng-show="form.port.$error.maxlength && form.port.$dirty">
                            {% trans "Port should be less than 255 characters" %}
                        </p>
                    </div>
                </div>
            </fieldset>
        </div>
        <!-- Modal-form-right: The description text. -->
    </div>
</form>
<!-- Modal-footer: User can submit or cancel form here. -->
<div class="modal-footer">
    <button id="submit-button" class="btn btn-primary" type="button"
            ng-disabled="form.$invalid"
            ng-click="action.submit()">
        {$ label.update $}
    </button>
</div>
