{% load i18n %}

<div class="modal-header clearfix">
  <h3 class="modal-title">{$ ::context.title $}</h3>
  <p class="modal-colsed" ng-click="action.cancel()">
    <i class="modal-colsed-icon"></i>
  </p>
</div>

<form class="ml10 mr10" novalidate name="form" ng-submit="submit(form.$valid)">

<fieldset>
<tabset id="subnet-form-tab" class="def-tabs mt10" justified="true">
  <tab id="subnet-tab-base-button" heading={% trans "Basic Settings"%}>
    <div class="tab-pane-content">
    <div class="modal-body clearfix">
      <div class="form-group clearfix mt10"
      ng-class="{'has-error':form.subnetName.$invalid && form.subnetName.$dirty || doesSubnetNameExist}">
        <label for="name">
          *{% trans "Subnet Name" %}
        </label>
        <div class="form-group-right">
          <input required
          id="name"
          name="subnetName"
          class="form-control"
          type="text"
          ng-model="subnet.name"
          ng-maxlength="255"
          ng-change="checkSubnetName()"
          placeholder="{% trans 'Enter a Subnet name' %}">
          <p class="help-block alert-fixed alert-danger"
          ng-show="doesSubnetNameExist">
          {% trans "This name already exists" %}
          </p>
          <p class="help-block alert-fixed alert-danger"
          ng-show="form.subnetName.$error.required && form.subnetName.$dirty">
          {% trans "A Subnet name is required." %}
          </p>
          <p class="help-block alert-fixed alert-danger"
          ng-show="form.subnetName.$error.maxlength && form.subnetName.$dirty">
          {% trans "Name length should be less than 255 chars." %}
          </p>
        </div>
      </div>

      <div class="form-group clearfix ip-line-prev"
      ng-if="context.mode === 'create' && dropdown.roles && context.subnetId"
      ng-class="{'has-error':form.network_id.$invalid && form.network_id.$dirty}">
        <label for="role">
          <p>*{% trans 'Select a Network' %}</p>
        </label>
        <div class="form-group-right">
          <select required
          id="network_id"
          name="network_id"
          class="form-control"
          ng-class="{strikeLoading: !dropdown.roles}"
          ng-model="subnet.network_id">
            <option value="" disabled>
              {% trans 'Select a Network' %}
            </option>
            <option
            ng-repeat="role in dropdown.roles"
            ng-selected="role.id===subnet.network_id"
            value="{$role.id$}">
              {$ role.name $}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group clearfix"
      ng-if="context.mode !== 'edit'"
      ng-class="{'has-error':form.cidr.$invalid && form.cidr.$dirty}">
      <label for="name">
        <p>{% trans "Network Address" %}</p>
      </label>
      <div class="form-group-right">
        <div class="network-label-box" ng-init="netset='0'">
          <input
            id="netset"
            name="netset"
            type="radio"
            ng-model="netset"
            ng-click="netsetRadio(0)"
            value="0"/>
          <span>{% trans "Quick Settings" %}</span>
          <input
            id="netset"
            name="netset"
            type="radio"
            ng-model="netset"
            ng-click="netsetRadio(1)"
            value="1"/>
           <span>{% trans "Custom" %}</span>
        </div>

        <div id="networt-address-box" class="networt-address-box" ng-show="netset==='0'">
          <div class="network-address">
            <div class="network-option-row">
              <input id="cidr-0" type="radio" ng-checked="true" ng-click="subnetRadio(0)" value="0" name="cidr" class="address-w-selec js-address-w-check" />
              <input
              id="subnet-address-0"
              disabled="disabled"
              class="address-w"
              type="text"
              ng-model="subnetAddress.val0"> .
              <input
              id="subnet-address-1"
              disabled="disabled"
              class="address-w"
              type="text"
              ng-model="subnetAddress.val1"> .
              <input
              id="subnet-address-2"
              class="address-w verify-input"
              type="text"
              ng-model="subnetAddress.val2"
              ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"> .
              <input
              id="subnet-address-3"
              disabled="disabled"
              class="address-w"
              type="text"
              ng-model="subnetAddress.val3"> /
              <input
              id="subnet-address-4"
              disabled="disabled"
              class="address-w"
              type="text"
              ng-model="subnetAddress.val4">
            </div>
            <div class="network-option-box" style="display: none;">
              <div class="network-option-row mt10">
                <input id="cidr-1" type="radio"  ng-click="subnetRadio(1)" name="cidr" value="1" class="address-w-selec js-address-w-check" />
                <input
                id="subnet-address1-0"
                disabled="disabled"
                class="address-w"
                type="text"
                ng-model="subnetAddress1.val0"> .
                <input
                id="subnet-address1-1"
                class="address-w verify-input"
                type="text"
                ng-model="subnetAddress1.val1"
                ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"> .
                <input
                id="subnet-address1-2"
                class="address-w verify-input"
                type="text"
                ng-model="subnetAddress1.val2"
                ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"> .
                <input
                id="subnet-address1-3"
                class="address-w verify-input"
                type="text"
                ng-model="subnetAddress1.val3"
                ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"> /
                <input
                id="subnet-address1-4"
                class="address-w verify-input"
                type="text"
                ng-model="subnetAddress1.val4"
                ng-pattern="/^([8-9]|1\d|2[0-9]|30)$/">
              </div>
              <div class="network-option-row mt10">
                <input id="cidr-2" type="radio" ng-click="subnetRadio(2)" name="cidr" value="2" class="address-w-selec js-address-w-check" />
                <input
                id="subnet-address2-0"
                disabled="disabled"
                class="address-w"
                type="text"
                ng-model="subnetAddress2.val0"> .
                <input
                id="subnet-address2-1"
                disabled="disabled"
                class="address-w"
                type="text"
                ng-model="subnetAddress2.val1"> .
                <input
                id="subnet-address2-2"
                class="address-w verify-input"
                type="text"
                ng-model="subnetAddress2.val2"
                ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"> .
                <input
                id="subnet-address2-3"
                class="address-w verify-input"
                type="text"
                ng-model="subnetAddress2.val3"
                ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"> /
                <input
                id="subnet-address2-4"
                class="address-w verify-input"
                type="text"
                ng-model="subnetAddress2.val4"
                ng-pattern="/^(1[6-9]|2[0-9]|30)$/">
              </div>
            </div>
          </div>
          <span id="more-options" class="more-options subnet-rcol-color slide-ty" advanced-options-dis="network-option-box">{% trans "More Options" %}</span>
        </div>
        <div id="networt-address-box" class="networt-address-box clearfix" ng-show="netset==='1'">
          <div class="network-address">
            <div class="network-option-row">
              <input
              class="address-w verify-input"
              type="text"
              ng-model="subnetAddress3.val0"
              ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"> .
              <input
              class="address-w verify-input"
              type="text"
              ng-model="subnetAddress3.val1"
              ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"> .
              <input
              class="address-w verify-input"
              type="text"
              ng-model="subnetAddress3.val2"
              ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"> .
              <input
              class="address-w verify-input"
              type="text"
              ng-model="subnetAddress3.val3"
              ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/"> /
              <input
              class="address-w verify-input"
              type="text"
              ng-model="subnetAddress3.val4"
              ng-pattern="/^(\d|[1-2]\d|(3[0-2]))$/">
            </div>
          </div>
        </div>
        <p class="help-block alert-fixed alert-danger"
        ng-show="form.cidr.$invalid && form.cidr.$dirty">
        {% trans "A Subnet IP address is required." %}
      </p>
      </div>
      </div>

      <div class="form-group clearfix js-gateway-address">
        <label for="name">
          <p>{% trans "Gateway Address" %}</p>
        </label>
        <div class="form-group-right">
          <input ng-required="subnet.enable_gateway && context.mode == 'edit'"
            id="gateway_ip"
            name="gateway_ip"
            class="form-control"
            type="text"
            ng-disabled="context.mode == 'edit'||!subnet.enable_gateway"
            ng-model="subnet.gateway_ip"
            ng-pattern="/^((25[0-5]|2[0-4]\d|1\d{2}|[1-9]?\d)\.){3}(25[0-5]|2[0-4]\d|1\d{2}|[1-9]?\d)$/"
            placeholder="{$ getAddressFromCidr(subnet.cidr, 1) $}">

          <div class="clearfix subnet-rcol-check fr gatewayInfo">
            <input
            id="enable_gateway"
            name="enable_gateway"
            class="fl"
            type="checkbox"
            ng-disabled="context.mode == 'edit'"
            ng-model="subnet.enable_gateway">
            <span>{% trans "Open Gateway" %}</span>
          </div>
            <p  ng-if="context.mode !== 'edit'" class="help-block alert-fixed alert-danger"
               ng-show="form.gateway_ip.$invalid">
                {% trans "The gateway IP address format is not correct." %}
            </p>
            <p  ng-if="context.mode !== 'edit'" class="help-block alert-fixed alert-danger"
                   ng-show="!form.gateway_ip.$invalid && !subnetGatewayMatch">
                    {% trans "Please set the correct Network Address and Gateway IP." %}
            </p>
            <p ng-if="context.mode !== 'edit'" class="help-text">
              &nbsp;<span ng-show="!form.gateway_ip.$invalid && subnetGatewayMatch">
                {% trans "This address can be used as default gateway of other host in this private net, if not fill, system will generate." %}
              <span>
            </p>
        </div>
      </div>

        <div class="form-group clearfix" ng-class="{ mt0: context.mode !== 'edit' }"
        ng-class="{'has-error':form.enable_dhcp.$invalid && form.enable_dhcp.$dirty}">
          <label for="name">

          </label>
          <div class="form-group-right">
            <div class="clearfix subnet-rcol-check">
              <input
              id="enable_dhcp"
              name="enable_dhcp"
              class="fl"
              type="checkbox"
              ng-model="subnet.enable_dhcp">
              <span>{% trans "Start DHCP" %}</span>
            </div>
          </div>
        </div>
      </div>
        </div>
    </tab>
  <tab id="subnet-tab-advance-button" heading={% trans "Advance Settings"%}>
    <div class="tab-pane-content">
    <div class="form-group clearfix mt20"
    ng-class="{'has-error':form.dns.$invalid && form.dns.$dirty}">
      <label for="dns">
        {% trans "DNS Server" %}
      </label>
      <div class="form-group-right">
        <ul class="network-set-list" select-list="network.dns_nameservers">
            <li ng-repeat="iDns in network.dns_nameservers" tag="true" data-index="{$ $index $}">{$ iDns $}</li>
            <li class="network-tips"><span class="gray_3 f12">{% trans "Click on the lower left corner" %} “＋”“－” {% trans "add deletion" %}</span></li>
            <li>
              <span class="network-btn" ng-click="action.dnsCreate.open()"><i class="icon network_add_to"></i></span><span class="network-btn js-remove"><i class="icon network_remove_to"></i></span>
            </li>
          </ul>
      </div>
    </div>

    <div class="form-group clearfix">
      <label for="host_routes">
        {% trans "Host Route" %}
      </label>
      <div class="form-group-right">
        <ul class="network-set-list" select-list="network.host_routes">
          <li ng-repeat="hostRoute in network.host_routes" tag="true" data-index="{$ $index $}">
            <span class="mr10">{% trans 'Network Segment' %}</span>
            <span class="segment">{$ hostRoute.destination $}</span>
            <span class="mr10">{% trans 'NextHop' %}</span>
            <span>{$ hostRoute.nexthop $}</span>
          </li>
          <li><span class="gray_3 f12">{% trans "Click on the lower left corner" %} “＋”“－” {% trans "add deletion" %}</span></li>
          <li>
            <span class="network-btn" ng-click="action.hostRouteCreate.open()"><i class="icon network_add_to"></i></span><span class="network-btn js-remove"><i class="icon network_remove_to"></i></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group clearfix">
      <label for="name">
        {% trans "Address Pool" %}
      </label>
      <div class="form-group-right">
        <ul class="network-set-list" select-list="network.allocation_pools">
          <li ng-repeat="pool in network.allocation_pools" tag="true" data-index="{$ $index $}">{$ pool.start $}<span> - </span>{$ pool.end $}</li>
          <li><span class="gray_3 f12">{% trans "Click on the lower left corner" %} “＋”“－” {% trans "add deletion" %}</span></li>
          <li>
            <span class="network-btn" ng-click="action.addressPoolCreate.open()"><i class="icon network_add_to"></i></span><span class="network-btn js-remove"><i class="icon network_remove_to"></i></span>
          </li>
        </ul>
      </div>
    </div>
        </div>
  </tab>
</tabset>
</fieldset>

</form>

<!-- Modal-footer: User can submit or cancel form here. -->
<div class="modal-footer">
  <button id="submit-button" class="btn btn-primary" type="button"
    ng-disabled="form.$invalid || networkInvalidTag  || !subnetGatewayMatch || doesSubnetNameExist"
    ng-click="action.submit()">
    {$ ::context.submit $}
  </button>
</div>