{% extends 'es_base.html' %}
{% load i18n %}
{% block title %}{% trans "Images" %}{% endblock %}

{% block page_header %}
  {% include "easystack_dashboard/common/_es_page_header.html" with title=_("Images") %}
{% endblock page_header %}

{% block main %}

<hz-magic-search-context filter-facets="filterFacets">
<table id="image-list" hz-table ng-cloak hopes-table-drag
  st-table="iimages"
  st-safe-src="images"
  default-sort="name"
  default-sort-reverse="false"
  ng-controller="adminImagesCtrl"
  st-magic-search
  ng-init="userID = '{{ request.user.id }}'"
  disabled="disabled"
  class="table table-bordered table-hover">

  <!--
    Table-head:
    This is where we add things like filtering and batch actions.
    This is where we add column headers.
  -->
  <thead>

    <!--
      Table-batch-actions:
      This is where batch actions like searching, creating, and deleting.
    -->
   <tr>
      <th colspan="100" class="bare">
        <div class="table_actions clearfix">
        <action-list class="btn-addon">
              <action
                action-classes="'btn btn-primary btn-action'"
                callback="actions.refresh">
                <i class="icon icon-refresh"></i>
                <span id="refresh"></span>
              </action>
           </action-list>
          <action-list>
            <action
              action-classes="'btn btn-primary btn-action'"
              callback="actions.create.open">
              <i class="icon icon-add"></i>
              <span id="create-image">{% trans 'Create Image' %}</span>
            </action>
          </action-list>
           <action-list>
              <action
                action-classes="'btn btn-primary btn-action'"
                disabled="disabled"
                callback="actions.edit.open"
                item="selectedData.aData">
                <i class="icon icon-edit"></i>
                <span id="edit">{% trans 'Edit' %}</span>
              </action>
           </action-list>
            <button
              id="update-metadata"
              class="btn btn-primary btn-action btn-group"
              ng-click="modal.openMetadataModal('image', selectedData.aData[0].id, false)"
              ng-disabled="disabled"
              ng-controller="MetadataModalHelperController as modal">
              <i class="icon icon-edit"></i>
              <span id="update-image-metadata">
                {% trans 'Update Image Metadata' %}
              </span>
            </button>
          <action-list>
            <action
              action-classes="'btn btn-action btn-danger'"
              disabled="numSelected === 0 || disableDelete"
              callback="actions.deleted.batchDelete">
              <i class="icon icon-delete"></i>
              <span id="delete-image">{% trans 'Delete Image' %}
                <i ng-show= "imageIsUsed">{% trans '(image is used)' %}</i>
              </span>
            </action>
            </action-list>
          <action-list dropdown>
            <button id="more" type="button" class="btn btn-primary btn-action" dropdown-toggle>
              <i class="icon icon-more"></i>
              <span>{% trans 'More' %}</span>
              <!--<div class="bnt-piece"><span class="caret"></span></div>-->
            </button>
            <menu>
              <action
                button-type="menu-item"
                disabled="disabled"
                callback="actions.image2volume.open"
                item="selectedData.aData">
                <span id="create-volume">{% trans 'Create Volume' %}</span>
              </action>
            </menu>
          </action-list>
          <div class="fr search-bar">
            <hz-magic-search-bar id="search"></hz-magic-search-bar>
          </div>
        </div>
      </th>
    </tr>

    <!--
      Table-column-headers:
      This is where we declaratively define the table column headers.
      Include the select all checkbox if you want to enable select all
      for performing batch actions.
    -->
    <tr>
      <th eagle-eye="select_col" class="select-col">
        <input type="checkbox"
          hz-select-page="images"/>
      </th>
      <th>
        <span eagle-eye="data_col" st-sort="name">{$ ::context.header.name $}</span>
      </th>
      <th>
        <span eagle-eye="data_col" st-sort="domain">{$ ::context.header.domain $}</span>
      </th>
      <th><span eagle-eye="data_col" st-sort="tenant_name">{$ ::context.header.project $}</span></th>
      <th><span eagle-eye="data_col" st-sort="image_type">{$ ::context.header.image_type $}</span></th>
      <th><span eagle-eye="data_col" st-sort="status">{$ ::context.header.status $}</span></th>
      <th><span eagle-eye="data_col">{$ ::context.header.is_public $}</span></th>
      <th><span eagle-eye="data_col">{$ ::context.header.protected $}</span></th>
      <th><span eagle-eye="data_col" st-sort="disk_format">{$ ::context.header.disk_format $}</span></th>
      <th><span eagle-eye="data_col" st-sort="size">{$ ::context.header.size $}</span></th>

    </tr>
  </thead>

  <tbody>
    <tr ng-if="!iimagesState">
      <td colspan="100" class="Loading-bar"><img class="load-detail" src="/static/bootstrap/img/loading.gif"  alt="" /></td>
    </tr>

    <tr ng-if="!iimages.length && iimagesState">
      <td colspan="100">{% trans "No Data" %}</td>
    </tr>
    <tr ng-repeat="image in iimages" ng-class="{'st-selected': checked[image.id]}">

      <!--
        Table-row-checkbox:
        User can select and unselect this row by clicking on this checkbox.
        Batch actions can then be perform on selected rows.
      -->
      <td eagle-eye="select_col" class="select-col">
        <input type="checkbox"
          hz-select="image"
          ng-model="selected[image.id].checked"
          hz-checkbox-group="images"/>
      </td>

      <!-- Table-row-info-column -->
      <td eagle-eye="data_col">{$ image.name $}</td>
      <td eagle-eye="data_col">{$ image.domain $}</td>
      <td eagle-eye="data_col">{$ image.tenant_name $}</td>
      <td eagle-eye="data_col">{$ image.image_type $}</td>
      <td eagle-eye="data_col">{$ image.status| decode:imageStatus $}</td>
      <td eagle-eye="data_col">
        <i ng-if="image.is_public" class="state-icon icon-true" eagle-eye="green"></i>
        <i ng-if="!image.is_public" class="state-icon icon-false" eagle-eye="red"></i>
      </td>
      <td eagle-eye="data_col">
        <i ng-if="!image.protected" class="state-icon icon-false"></i>
        <i ng-if="image.protected" class="state-icon icon-true"></i>
      </td>
      <td eagle-eye="data_col">{$ image.disk_format $}</td>
      <td eagle-eye="data_col">{$ image.size | bytes $}</td>
    </tr>

  </tbody>

  <!--
    Table-footer:
    This is where we display number of items and pagination controls.
    Ensure colspan is greater or equal to number of column-headers.
  -->
  <tfoot ng-if="images.length > 10">
    <tr>
      <td colspan="100">
        <table-footer></table-footer>
      </td>
    </tr>
  </tfoot>
</table>
</hz-magic-search-context>

{% endblock %}
