{% load i18n %}
{% load context_selection %}

<!-- Modal-header: Simple title describing purpose of this pane. -->
<div class="modal-header clearfix">
  <h3 class="modal-title">{$ ::context.title $}</h3>
  <p class="modal-colsed" ng-click="action.cancel()">
    <i class="modal-colsed-icon"></i>
  </p>
</div>

<!-- Modal-form: The body of this pane. -->
<form novalidate name="form" ng-submit="submit(form.$valid)">
  <div class="modal-body clearfix">
        <!-- Modal-form-left: Contains the form controls -->
        <div class="modal-description mt10" >
          <p>
            {$ mdescription $}
          </p>
        </div>
    <!-- Modal-form-left: Contains the form controls -->
      <fieldset>
        <!--
          Volume name input (required):
            Create-mode: show
            Edit-mode: show
            Extend-mode: show,disabled
            Attach-mode: show,disabled
            Detach-mode: show,disabled
        -->
        <div class="form-group clearfix"
          ng-class="{'has-error':form.name.$invalid && form.name.$dirty}">
          <label for="name">
            *{% trans "Name" %}
          </label>
          <div class="form-group-right">
            <input required
              id="name"
              name="name"
              class="form-control verify-input"
              type="text"
              ng-model="ikepolicy.name"
              ng-maxlength="255"
              placeholder="{% trans 'enter an IKE Policy name' %}"/>
            <p class="help-block alert-fixed alert-danger"
              ng-show="form.name.$error.required && form.name.$dirty">
              {% trans "An IKE Policy name is required." %}
            </p>
            <p class="help-block alert-fixed alert-danger"
              ng-show="form.name.$error.maxlength && form.name.$dirty">
              {% trans "Name length should be less than 255 chars." %}
            </p>
          </div>
        </div>

        <!--
          Description input (optional):
            Create-mode: show
            Edit-mode: show
        -->
        <div class="form-group clearfix">
          <label for="description">
            {% trans "Description" %}
          </label>
          <div class="form-group-right"
               ng-class="{'has-error':form.description.$invalid && form.description.$dirty}">
            <textarea
              id="description"
              name="description"
              class="form-control"
              rows="4"
              ng-maxlength="255"
              type="description"
              ng-model="ikepolicy.description"
              placeholder="{% trans 'enter description of the IKE Policy' %}">
            </textarea>
            <p class="help-block alert-fixed alert-danger"
              ng-show="form.description.$error.maxlength">
              {% trans "Description length should be less than 255 chars." %}
            </p>
          </div>
        </div>

        <!--
          Type selection (option):
            Create-mode: show
        -->
        <div class="form-group clearfix"
          ng-class="{'has-error':form.auth_algorithm.$invalid && form.auth_algorithm.$dirty}">
          <label for="auth_algorithm">
            {% trans "Authorization algorithm" %}
          </label>
          <div class="form-group-right">
            <select
              id="auth_algorithm"
              name="auth_algorithm"
              class="form-control"
              ng-class="{strikeLoading: !dropdown.auth_algorithms}"
              ng-init="ikepolicy.auth_algorithm=(ikepolicy.auth_algorithm !=udefined? ikepolicy.auth_algorithm:dropdown.auth_algorithms[0].key)"
              ng-model="ikepolicy.auth_algorithm">
              <option
                ng-repeat="auth_algorithm in dropdown.auth_algorithms"
                ng-selected="auth_algorithm.key===ikepolicy.auth_algorithm"
                value="{$ auth_algorithm.key $}">
                {$ auth_algorithm.value $}
              </option>
            </select>
          </div>
        </div>

        <!--
           Image Selection (option):
            Create-mode: show
        -->
        <div class="form-group clearfix">
          <label for="encryption_algorithm">
            {% trans "Encryption algorithm" %}
          </label>
          <div class="form-group-right">
            <select
              id="encryption_algorithm"
              name="encryption_algorithm"
              class="form-control"
              ng-class="{strikeLoading: !dropdown.encryption_algorithms}"
              ng-init="ikepolicy.encryption_algorithm=(ikepolicy.encryption_algorithm !=udefined? ikepolicy.encryption_algorithm:dropdown.encryption_algorithms[0].key)"
              ng-model="ikepolicy.encryption_algorithm">
              <option
                ng-repeat="s in dropdown.encryption_algorithms"
                ng-selected="s.key===ikepolicy.encryption_algorithm"
                value="{$ s.key $}">
                {$ s.value $}
              </option>
            </select>
          </div>
        </div>
        <!--
           Image Selection (option):
            Create-mode: show
        -->
        <div class="form-group clearfix"
          ng-class="{'has-error':form.ike_version.$invalid && form.ike_version.$dirty}">
          <label class="control-label fl required" for="name">
            {% trans "IKE version" %}
          </label>
          <div class="form-group-right">
            <select required
              id="ike_version"
              name="ike_version"
              class="form-control"
              ng-class="{strikeLoading: !dropdown.ike_versions}"
              ng-init="ikepolicy.ike_version =(ikepolicy.ike_version !=udefined? ikepolicy.ike_version:dropdown.ike_versions[0].key)"
              ng-model="ikepolicy.ike_version">
              <option
                ng-repeat="ike_version in dropdown.ike_versions"
                ng-selected="ike_version.key === ikepolicy.ike_version"
                value="{$ ike_version.key $}">
                {$ ike_version.value $}
              </option>
            </select>
          </div>
        </div>

        <!--
           Instance Snapshot Selection (option):
            Create-mode: show
        -->
        <div class="form-group clearfix"
          ng-class="{'has-error':form.lifetime_units.$invalid && form.lifetime_units.$dirty}">
          <label class="control-label fl required" for="name">
            {% trans "Lifetime units for IKE keys" %}
          </label>
          <div class="form-group-right">
            <select required
              id="lifetime_units"
              name="lifetime_units"
              class="form-control"
              ng-class="{strikeLoading: !dropdown.lifetime_units}"
              ng-init="ikepolicy.lifetime.units = (ikepolicy.lifetime.units !=udefined? ikepolicy.lifetime.units:dropdown.lifetime_units[0].key)"
              ng-model="ikepolicy.lifetime.units">
              <option
                ng-repeat="lifetime_unit in dropdown.lifetime_units"
                ng-selected="lifetime_unit.key === ikepolicy.lifetime.units"
                value="{$ lifetime_unit.key $}">
                {$ lifetime_unit.value $}
              </option>
            </select>
          </div>
        </div>
        <!--
          Size input (required):
            Create-mode: show
        -->
        <div class="form-group clearfix"
          ng-class="{'has-error':form.lifetime_value.$invalid && form.lifetime_value.$dirty}">
          <label for="lifetime_value">
            {% trans "Lifetime value for IKE keys" %}
          </label>
          <div class="form-group-right">
            <input required
              id="lifetime_value"
              name="lifetime_value" type="number"
              class="form-control verify-input"
              type="text"
              min="60"
              ng-init="ikepolicy.lifetime.value= (ikepolicy.lifetime.value !=udefined? ikepolicy.lifetime.value:3600)"
              ng-model="ikepolicy.lifetime.value"
              ng-maxlength="255"/>
            <span class="glyphicon glyphicon-question-sign help-fixed"
                  popover="{$ helpInfo $}"
                  popover-placement="right"
                  popover-append-to-body="true"
                  popover-trigger="hover"></span>
            <p class="help-block alert-fixed alert-danger"
              ng-show="form.lifetime_value.$error.required && form.lifetime_value.$dirty">
              {% trans "{$ helpInfo $}" %}
            </p>
          </div>
        </div>


        <!--
          Attach instance input (required):
            Attach-mode: show
        -->
        <div class="form-group clearfix"
          ng-class="{'has-error':form.pfs.$invalid && form.pfs.$dirty}">
          <label for="pfs">
            <p>{% trans "Perfect Forward Secrecy" %}</p>
          </label>
          <div class="form-group-right">
            <select required
              id="pfs"
              name="pfs"
              class="form-control"
              ng-class="{strikeLoading: !dropdown.pfses}"
              ng-init="ikepolicy.pfs=(ikepolicy.pfs !=udefined? ikepolicy.pfs:dropdown.pfses[0].key)"
              ng-model="ikepolicy.pfs">
              <option
                ng-repeat="pfs in dropdown.pfses"
                ng-selected="pfs.key===ikepolicy.pfs"
                value="{$ pfs.key $}">
                {$ pfs.value $}
              </option>
            </select>
          </div>
        </div>

        <!--
          Detach instance input (required):
            Detach-mode: show,disabled
        -->
        <div class="form-group clearfix"
          ng-class="{'has-error':form.phase1_negotiation_mode.$invalid && form.phase1_negotiation_mode.$dirty}">
          <label for="phase1_negotiation_mode">
            <p>{% trans "IKE Phase1 negotiation mode" %}</p>
          </label>
          <div class="form-group-right">
            <select required
              id="phase1_negotiation_mode"
              name="phase1_negotiation_mode"
              class="form-control verify-input"
              ng-class="{strikeLoading: !dropdown.phase1_negotiation_modes}"
              ng-init="ikepolicy.phase1_negotiation_mode=(ikepolicy.phase1_negotiation_mode !=udefined? ikepolicy.phase1_negotiation_mode:dropdown.phase1_negotiation_modes[0].key)"
              ng-model="ikepolicy.phase1_negotiation_mode"
              >
              <option
                ng-repeat="phase1_negotiation_mode in dropdown.phase1_negotiation_modes"
                ng-selected="phase1_negotiation_mode.key === ikepolicy.phase1_negotiation_mode"
                value="{$ phase1_negotiation_mode.key $}">
                {$ phase1_negotiation_mode.value $}
              </option>
            </select>
          </div>
        </div>
      </fieldset>

    <!-- Modal-form-right: The description text. -->

  </div>
</form>

<!-- Modal-footer: User can submit or cancel form here. -->
<div class="modal-footer">
  <button id="submit-button" class="btn btn-primary" type="button"
    ng-if="context.mode == 'create'"
    ng-disabled="form.$invalid"
    ng-click="action.submit()">
    {$ ::context.submit $}
  </button>

  <button id="submit-button" class="btn btn-primary" type="button"
    ng-if="context.mode == 'edit'"
    ng-disabled="form.$invalid"
    ng-click="action.submit()">
    {$ ::context.submit $}
  </button>
</div>