@import "source/source";
@import "flavor/flavor";

.ng-wizard > .nav {
    height: 100%;
    position: relative;
}

.feeWrap {
    width: 260px;
    position: static;
    bottom: 192px;
    margin-left: 10px;
    margin-top: 15px;
}

p.feeWrap {
    width: 260px;
    position: static;
    bottom: 192px;
    margin-left: 10px;
    margin-top: 15px;
}
