/**
 ** Author : liufeng
 ** Module : extra_specs module css
 ** Data   : 2016-12-23
**/
/** extra_specs **/
.extraspecsListContent {
  .modal-dialog { width: 550px; }
  .form-group .form-group-right { width: 260px; }
}

.extraspecslength{
  width: 50%;
}
