/**
 ** Author :zhouqi
 ** Module : loadbalancer module css
 ** Data   : 2016-02-16
**/
/** loadbalancer **/
.loadbalancersListContent {
  .modal-dialog { width: 550px; }
  .form-group .form-group-right { width: 260px; }
}

.loadbalanerPortlength{
  width: 50%;
}