{%load i18n%}
<script type="text/ng-template" id="ioHistory.html">
    <div class="ioHistory" >
        <div id="iohistory_line"></div>
        <div class="time_group">
            <span class="title">{% trans "Time Span" %}</span>
            <div class="btn-group" >
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <label class="currentTime">{$ time_menulist[0].text $}</label>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu pull-right" >
                <li ng-repeat="typeitem in time_menulist"  ng-click="switchTimespan($event, typeitem.typeIndex)"><a href="javascript:void(0)">{$ typeitem.text $}</a></li>
              </ul>
            </div>
        </div>
    </div>
</script>
