{% load i18n %}

<hz-magic-search-context filter-facets="filterFacets">
<table id="zones-list" hz-table ng-cloak hopes-table-drag
  st-table="izones"
  st-safe-src="zones"
  default-sort="created"
  default-sort-reverse="true"
  ng-controller="hz.dashboard.admin.aggregates.ZonesCtrl"
  ng-init="userID = '{{ request.user.id }}'"
  st-magic-search
  class="table table-bordered table-hover">

  <!--
    Table-head:
    This is where we add things like filtering and batch actions.
    This is where we add column headers.
  -->
  <thead>

    <!--
      Table-batch-actions:
      This is where batch actions like searching, creating, and deleting.
    -->
    <tr>
      <th colspan="100" class="bare">
        <div class="table_actions clearfix">
          <action-list>
            <action
              action-classes="'btn btn-primary btn-action'"
              callback="actions.refresh">
              <i class="icon icon-refresh"></i>
              <span id="refresh"></span>
            </action>
          </action-list>
          <div class="fr search-bar">
            <hz-magic-search-bar id="zones-search"></hz-magic-search-bar>
          </div>
        </div>
      </th>
    </tr>

    <!--
      Table-column-headers:
      This is where we declaratively define the table column headers.
      Include the select all checkbox if you want to enable select all
      for performing batch actions.
    -->
    <tr>
      <th eagle-eye="select_col" class="select-col">
        <input type="checkbox"
          hz-select-page="zones-group"
          ng-model="selectedAllZones"/>
      </th>
      <th><span eagle-eye="data_col" st-sort="zoneName" st-sort-default="zoneName">{$ ::context.header.name $}</th>
      <th><span eagle-eye="data_col" st-sort="hosts">{$ ::context.header.hosts $}</span></th>
      <th><span eagle-eye="data_col" st-sort="zoneState">{$ ::context.header.state $}</span></th>
    </tr>
  </thead>

  <tbody>

    <tr ng-if="!izonesState">
      <td colspan="100" class="Loading-bar"><img class="load-detail" src="/static/bootstrap/img/loading.gif"  alt="" /></td>
    </tr>

    <tr ng-if="!izones.length && izonesState">
      <td colspan="100">{% trans "No Data" %}</td>
    </tr>

    <tr ng-repeat="zone in izones" ng-class="{'st-selected': checked[zone.id]}">

      <!--
        Table-row-checkbox:
        User can select and unselect this row by clicking on this checkbox.
        Batch actions can then be perform on selected rows.
      -->
      <td eagle-eye="select_col" class="select-col">
        <input type="checkbox"
          hz-select="zone"
          ng-model="selected[zone.id].checked"
          hz-checkbox-group="zones-group"/>
      </td>

      <!--
        Table-row-expander:
        User can toggle visbility of the Detail-row by clicking on this icon.
        Duration attribute determines the animation time.
      -->
      <!--<td class="expander">
        <i class="fa fa-chevron-right" hz-expand-detail duration="200"></i>
      </td>-->

      <!-- Table-row-info-column -->
      <td eagle-eye="data_col">{$ zone.zoneName $}</td>
      <td eagle-eye="data_col">
        <!--</span><span ng-repeat="(hostname, host) in zone.hosts">{$ hostname $}</span>-->
        {$ zone.hosts|keys|list:', ' $}
      </td>
      <td eagle-eye="data_col">{$ zone.zoneState|available $}</td>
    </tr>

  </tbody>

  <!--
    Table-footer:
    This is where we display number of items and pagination controls.
    Ensure colspan is greater or equal to number of column-headers.
  -->
  <tfoot ng-if="zones.length > 10">
    <tr>
      <td colspan="100">
        <div st-pagination="" st-items-by-page="8" st-displayed-pages="10"></div>
      </td>
    </tr>
  </tfoot>
</table>
</hz-magic-search-context>
