{% load i18n %}

<!-- Modal-header: Simple title describing purpose of this pane. -->
<div class="modal-header clearfix">
  <h3 class="modal-title">{$ ::context.title $}</h3>
  <p class="modal-colsed" ng-click="action.cancel()">
    <i class="modal-colsed-icon"></i>
  </p>
</div>
<!-- Modal-form: The body of this pane. -->
<form novalidate name="form" ng-submit="submit(form.$valid)">
{% include 'identity/domains/_domain_quota.html' %}
</form>
<!-- Modal-footer: domain can submit or cancel form here. -->
<div class="modal-footer">
  <button id="submit-button" class="btn btn-primary" type="button"
    ng-disabled="form.$invalid || isQuotaLoading"
    ng-click="action.submit()">
    {$ ::context.submit $}
  </button>
</div>
