{% load branding i18n %}
{% load url from future %}
{% load context_selection %}

<div class="left-option col-xs-4">
    <h3 class="network-adapter">{% trans 'Interface' %}</h3>
    <div class="dropdown network-select" tabindex='1'>
        <button class="dropdown-toggle btn btn-default" style="padding-left: 5px;padding-right:0; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;line-height: 20px;">
          <span>{$ server.netInterface_init.name || server.networks[0].name $}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="network in server.networks" server="{$ server.id $}" network="{$ network $}" ng-click="networkSelect(server, network)">
                <p id="{$ network.id $}"> {$ network.name $} </p>
            </li>
        </ul>
    </div>
</div>

<div class="right-list col-xs-8">
    <div class="network-graph" id="network-graph-{$ server.id $}" ng-click="serverTab.networkScale(server.id, server.servername, server.netInterface_init.name || server.networks[0].name)">

    </div>
</div>