{% load i18n %}

<!-- Modal-header: Simple title describing purpose of this pane. -->
<div class="modal-header clearfix">
  <h3 class="modal-title">{$ ::context.title $}</h3>
  <p class="modal-colsed" ng-click="action.cancel()">
    <i class="modal-colsed-icon"></i>
  </p>
</div>


<!-- show echarts -->
<form>
  <div class="modal-body clearfix">

    <!-- select options -->
    <div class="fl form-group clearfix"
      ng-if="context.mode === 'monitor'"
      ng-class="{'has-error':form.type.$invalid && form.type.$dirty}">
      <label for="type">
        {% trans "Metrics" %}
      </label>
      <div style="width: 150px" class="form-group-right">
            <select required
              id="monitor_type"
              name="monitor_type"
              class="form-control"
              ng-model="monitor.monitor_type"
              ng-change="changeMonitorTypes()">
              <option value="" disabled>
                {% trans 'select monitor type' %}
              </option>
              <option value="ovs.bytes.rate">
                {% trans 'ovs.bytes.rate' %}
              </option>
              <option value="ovs.packets.rate">
                {% trans 'ovs.packets.rate' %}
              </option>
            </select>
          </div>
      <div class="form-group-right" ng-if="monitor.monitor_type === 'ovs.bytes.rate'">
        <select
          id="btype"
          name="btype"
          class="form-control"
          ng-class="{strikeLoading: !monitors.btypes}"
          ng-model="monitor_type"
          ng-change="changeMonitorType(monitor_type)"  >
          <option value="" disabled>
            {$ (monitors.btypes && monitors.btypes.length)? "{% trans 'select a type' %}": "{% trans 'waiting to load the monitoring type' %}" $}
          </option>
          <option
            ng-repeat="btype in monitors.btypes" value="{$ btype.name $}">
            {$ btype.meter $}
          </option>
        </select>
      </div>
      <div class="form-group-right" ng-if="monitor.monitor_type === 'ovs.packets.rate'">
        <select
          id="ptype"
          name="ptype"
          class="form-control"
          ng-class="{strikeLoading: !monitors.ptypes}"
          ng-model="monitor_type"
          ng-change="changeMonitorType(monitor_type)"  >
          <option value="" disabled>
            {$ (monitors.ptypes && monitors.ptypes.length)? "{% trans 'select a type' %}": "{% trans 'waiting to load the monitoring type' %}" $}
          </option>
          <option
            ng-repeat="ptype in monitors.ptypes" value="{$ ptype.name $}">
            {$ ptype.meter $}
          </option>
        </select>
      </div>
    </div>

    <div class="detailNav clearfix">
        <div class="fr timeList">
            <ul id="js-time">
                <li class="btn btn-primary" ng-class="{ active: tags.oneDay }" ng-click="monitors.eventAction('day')" sign="1" url="">{% trans "One Day" %}</li>
                <li class="btn btn-primary" ng-class="{ active: tags.oneWeek }" ng-click="monitors.eventAction('week')" sign="7" url="">{% trans "One Week" %}</li>
                <li class="btn btn-primary" ng-class="{ active: tags.oneMonth }" ng-click="monitors.eventAction('month')" sign="30" url="">{% trans "One Month" %}</li>
                <li class="btn btn-primary" ng-class="{ active: tags.halfYear }" ng-click="monitors.eventAction('year')" sign="180" url="">{% trans "Half Year" %}</li>
            </ul>
        </div>
    </div>

    <div class="modal-body-content" style=" height: 270px;">

      <div ng-if="!iMonitorState">
          <p class="Loading-bar" style="text-align: center"><img class="load-detail" src="/static/bootstrap/img/loading.gif" alt="" /></p>
      </div>
      <div ng-if="!monitors.monitorItems.length && iMonitorState">
          <p style="text-align: center">{% trans "No Data" %}</p>
      </div>
      <div ng-repeat="monitor in monitors.monitorItems">
        <div class="detailNav" ng-if="false"><p>{% trans "Compute Resource Monitor" %}</p></div>
          <div class="chartWrap clearfix" ng-show="monitor_type===monitor.name">

              <div class="chartWrapList fl">
                <div class="chartTable">
                  <div class="chartTableMsg clearfix">
                    <div class="fl unitTxt">

                       <span class="fw mr10 col333">{$ monitor.name $}</span>
                       <span>{$ monitor.unit $}</span>

                        <span class="ml20 js-interval">
                            <span ng-class="{ none: !tags.oneDay }">{% trans "Interval: 15 minutes" %}</span>
                            <span ng-class="{ none: !tags.oneWeek }">{% trans "Interval: 2 hours" %}</span>
                            <span ng-class="{ none: !tags.oneMonth }">{% trans "Interval: 1 day" %}</span>
                            <span ng-class="{ none: !tags.halfYear }">{% trans "Interval: 1 day" %}</span>
                        </span>
                        <span class="ml20 none js-instant">
                          <span>{% trans "Interval: 2 seconds" %}</span>
                        </span>
                        <span class="blue chart_dit">●</span>
                        <span class="col30b0f0">{% trans "Usage"%}</span>
                    </div>
                    <!--<div class="fr unitBtn" action-instant='{$ $index $}'></div>-->
                    <div class="fr btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Export
                        </button>
                        <ul class="dropdown-menu">
                            <li title="Right click to Save as...">
                                <a href="{{WEBROOT}}project/instances/{$ monitor.rid $}/detail?date_options={$ tags.option $}&meter={$ monitor.meter $}&rid={$ monitor.rid $}&export=csv">CSV</a>
                            </li>
                        </ul>
                    </div>
                  </div>
                  <div id="{$ monitor.id $}" class="chartTableContent" style="width:963px; height:180px">
                      <p ng-if="!eDataState" class="Loading-bar" style="text-align: center"><img class="load-detail" src="/static/bootstrap/img/loading.gif" alt="" /></p>
                  </div>
               </div>
            </div>

         </div>
      </div>
    </div>
  </div>
</form>
