{% load i18n %}

<!-- Modal-header: Simple title describing purpose of this pane. -->
<div class="modal-header clearfix">
    <h3 class="modal-title">{$ ::context.title $}</h3>
    <p class="modal-colsed" ng-click="action.cancel()">
        <i class="modal-colsed-icon"></i>
    </p>
</div>

<!-- Modal-form: The body of this pane. -->
<form novalidate name="form" ng-submit="submit(form.$valid)">
  <div class="modal-body clearfix">
    <!-- Modal-form-left: Contains the form controls -->
    <div class="modal-description mt10">
      <p>{$ ::context.help $}</p>
    </div>
    <div class="left form-wrap">
      <fieldset>
        <!-- Host Name -->
        <div class="form-group clearfix">
        <label class="control-label fl required" for="hostname">
            {% trans "Host" %}
        </label>
        <div class="form-group-right">
          <input type="input"
            id="hostname"
            name="hostname"
            class="form-control"
            disabled="true"
            ng-model="service.host">
        </div>
        </div>

        <!-- Reason -->
        <div class="form-group clearfix">
        <label class="control-label fl required" for="reason">
            {% trans "Reason" %}
        </label>
        <div class="form-group-right">
          <input type="text"
            id="reason"
            name="reason"
            class="form-control"
            ng-maxlength="255"
            ng-model="service.reason">
          <p class="help-block alert-fixed alert-danger"
            ng-show="form.reason.$error.maxlength">
            {% trans "Reason length should be less than 255 chars." %}
          </p>
        </div>
        </div>
      </fieldset>
    </div>

    <!-- Modal-form-right: The description text. -->

  </div>
</form>

<!-- Modal-footer: User can submit or cancel form here. -->
<div class="modal-footer">
  <button id="submit-button" class="btn btn-primary" type="button"
    ng-disabled="form.$invalid"
    ng-click="action.submit()">
    {$ ::context.submit $}
  </button>
</div>